# Dependency directories
node_modules/
**/node_modules/

# Environments and Secrets
.env
**/.env
.env*.local

# Logging
logs/
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

